:root {
    --base-color: #e8e6e3;
    --lighter-color: #e8e3e3;
    --base-background: #181a1b;
    --lighter-background: #313638;

    --brand-color: #005dc1;
}

.App {
    display: grid;
    grid-template: 1fr 2fr 1fr / 1fr 10fr 1fr;
    text-align: center;
    height: 100vh;

    color: var(--base-color);
    background-color: var(--base-background);
}

a {
    text-decoration: none;
    color: var(--base-color);
}

button {
    cursor: pointer;
    color: var(--base-color);
    background-color: var(--brand-color);
}

input {
    color: var(--base-color);
    background-color: var(--lighter-background);
}

.Shortener, .Resolver {
    grid-column: 2;
    grid-row: 2;
}
